## fonte de dados

### tvDataFeed

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
from tvDatafeed import TvDatafeed, Interval

In [ ]:
username = 'carlos_py'
password = open('pass', 'r').read()

tv = TvDatafeed(username, password)
tv

In [ ]:
tv.search_symbol('MGLU3')

In [ ]:
df_intraday = tv.get_hist(symbol='MGLU3', interval=Interval.in_daily, exchange='BMFBOVESPA', n_bars=1000)
df_intraday

In [ ]:
df_intraday['close'].plot()

### yahoo finance

In [ ]:
import yfinance as yf

In [25]:
petro = yf.download('PETR4.SA', start='2021-01-01')
petro

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2021-01-04   9.619958   9.709802   9.493511   9.533441  74719700
2021-01-05   9.995971  10.042556   9.397011   9.616629  95181100
2021-01-06  10.015936  10.282140   9.999298  10.035901  96562500
2021-01-07  10.315414  10.365328  10.095796  10.095796  56171300
2021-01-08  10.355346  10.568309  10.099124  10.468482  67136300
...               ...        ...        ...        ...       ...
2024-12-16  37.939999  38.259998  37.830002  38.189999  21349400
2024-12-17  38.299999  38.490002  37.830002  37.939999  39617200
2024-12-18  37.310001  38.400002  37.310001  38.279999  58126400
2024-12-19  37.160000  37.930000  36.980000  37.660000  43268400
2024-12-20  36.849998  37.349998  36.709999  37.160000  59277400

[992 rows x 5 columns]

In [ ]:
petr = yf.Ticker('PETR4.SA')
petr.info

In [ ]:
petr.actions

In [ ]:
petr.quarterly_financials

In [ ]:
petr.major_holders

In [21]:
petr.balance_sheet

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,104359669.0,295669.0,295669.0,295669.0,NaN
Preferred Shares Number,NaN,NaN,5601969879.0,NaN,NaN
Ordinary Shares Number,12940137261.0,13044201261.0,13044201261.0,13044201261.0,NaN
Share Issued,13044496930.0,13044496930.0,13044496930.0,13044496930.0,NaN
Net Debt,16074000000.0,21958000000.0,25233000000.0,42177000000.0,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,15546000000.0,10769000000.0,11117000000.0,12370000000.0,NaN
Other Short Term Investments,2819000000.0,2773000000.0,650000000.0,659000000.0,NaN
Cash And Cash Equivalents,12727000000.0,7996000000.0,10467000000.0,11711000000.0,NaN
Cash Equivalents,12624000000.0,7780000000.0,10168000000.0,11159000000.0,NaN
Cash Financial,103000000.0,216000000.0,299000000.0,552000000.0,NaN

In [22]:
petr.cashflow

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Free Cash Flow,31098000000.0,40136000000.0,31466000000.0,23016000000.0,NaN
Repurchase Of Capital Stock,-735000000.0,0.0,0.0,NaN,NaN
Repayment Of Debt,-10479000000.0,-14764000000.0,-27240000000.0,-31607000000.0,NaN
Issuance Of Debt,2210000000.0,2880000000.0,1885000000.0,17023000000.0,NaN
Capital Expenditure,-12114000000.0,-9581000000.0,-6325000000.0,-5874000000.0,NaN
...,...,...,...,...,...
Operating Gains Losses,3049000000.0,4390000000.0,9386000000.0,10296000000.0,NaN
Pension And Employee Benefit Expense,1542000000.0,1228000000.0,2098000000.0,-1001000000.0,NaN
Earnings Losses From Equity Investments,304000000.0,-251000000.0,-1607000000.0,659000000.0,NaN
Net Foreign Currency Exchange Gain Loss,2498000000.0,4557000000.0,10795000000.0,11094000000.0,NaN
Net Income From Continuing Operations,24995000000.0,36755000000.0,19986000000.0,948000000.0,NaN

In [26]:
hist = petr.history(period='max')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-03 00:00:00-02:00,1.326403,1.326403,1.326403,1.326403,35389440000,0.0,0.0
2000-01-04 00:00:00-02:00,1.253028,1.253028,1.253028,1.253028,28861440000,0.0,0.0
2000-01-05 00:00:00-02:00,1.240384,1.240384,1.240384,1.240384,43033600000,0.0,0.0
2000-01-06 00:00:00-02:00,1.236095,1.236095,1.236095,1.236095,34055680000,0.0,0.0
2000-01-07 00:00:00-02:00,1.241738,1.241738,1.241738,1.241738,20912640000,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-16 00:00:00-03:00,38.189999,38.259998,37.830002,37.939999,21349400,0.0,0.0
2024-12-17 00:00:00-03:00,37.939999,38.490002,37.830002,38.299999,39617200,0.0,0.0
2024-12-18 00:00:00-03:00,38.279999,38.400002,37.310001,37.310001,58126400,0.0,0.0
2024-12-19 00:00:00-03:00,37.660000,37.930000,36.980000,37.160000,43268400,0.0,0.0
2024-12-20 00:00:00-03:00,37.160000,37.349998,36.709999,36.849998,59277400,0.0,0.0